<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
        <title>Home</title>
    </head>
<body>
    <%- include('./partials/header') %>
    <div class='container_problems'>
        <a href = "/problem1" class='links'>Problema 1</a>
        <a href = "/problem2" class='links'>Problema 2</a>
        <a href = "/problem3" class ='links'>Problema 3</a>
        <a href = "/problem4" class ='links'>Problema 4</a>
        <a href = "/problem5" class ='links'>Problema 5</a>
        <a href = "/problem6" class ='links'>Problema 6</a>
        <a href = "/problem7" class ='links'>Problema 7</a>
        <a href = "/problem8" class ='links'>Problema 8</a>   
    </div>
    
</body>

</html>