<header>
    <div class='nav'>
        <div class='logoNav'> 
            <a href="/"><img src="images/LogoAVE.png" alt="Logo AVE" class="img_logo"></a>
        </div>
        <div class='tittle'>
            <h2 class="name_company">AVE -Technology Smart Catalogs</h2>
        </div>    
    </div>
</header>
